body {
  transition: all 0.5s ease;
}

body:has(input:checked) {
  background-image: url(images/Stars.png), url(images/Flares.png), linear-gradient(#343941, #000103);

  .wrapper-ofc {
    color: rgb(193, 190, 190);
  }

  header {
    color: rgb(193, 190, 190);
  }

  a {
    color: rgb(193, 190, 190);
  }

  .contacts>.couple>a {
    transition: 300ms;
  }

  #light:hover,
  #dark:hover {
    color: rgb(73, 73, 243);
  }

  .contacts>.couple>a:hover {
    transition: 300ms;
    color: rgb(73, 73, 243);
  }

  #copyText {
    background-color: #3d3b60;
    color: rgb(193, 190, 190);
    transition: 200ms;
    box-shadow: 4px 4px 6px rgba(129, 128, 128, 0.3);
  }

  .relative>button {
    background-color: #3d3b60;
    color: rgb(193, 190, 190);
    transition: 400ms;
    box-shadow: 4px 4px 6px rgba(129, 128, 128, 0.3);
  }

  .relative>p {
    color: rgb(17, 198, 111);
  }

  p {
    color: rgb(90, 87, 87);
  }

  .relative>button:hover {
    background-color: rgb(193, 190, 190);
    color: #382a2a;
    transition: 400ms;
    box-shadow: 4px 4px 6px rgba(31, 30, 30, 0.3);
  }

  .relative>button:active {
    background-color: #4c4c4c;
    color: rgb(193, 190, 190);
    transition: 300ms;
  }

  main>h2::before {
    content: url(images/corporate_fare.png);
  }

  .edu>h2::before {
    content: url(images/school.png);
  }

  .top-part>h2::before {
    content: url(images/draw.png);
  }

  .lang>h2::before {
    content: url(images/question_answer.png);
  }

  .top-part>button {
    border-color: white;
    background-color: rgb(182, 181, 181);
    box-shadow: 3px 3px 5px #474747;
    color: #474747;
  }

  .top-part>button:hover {
    color: #93ACF8;
    background-color: rgb(84, 84, 84);
    box-shadow: 3px 3px 5px #93ACF8;
  }

  .top-part>button:active {
    color: rgb(84, 84, 84);
    background-color: #93ACF8;
    box-shadow: 3px 3px 5px rgb(84, 84, 84);
  }

  .left>span,
  .lang>.left>span {
    color: #93ACF8;
    padding-top: 0;
    padding-bottom: 40px;
  }
}