body {
  background-image: url(images/Stars.png), url(images/Flares.png), url(images/Gradient.png), linear-gradient(#343941, #000103);
}

.wrapper-ofc {
    color: white;
 }

header {
  color: white;
}

a {
  color: white;
}
/* change color */
#copyText {
  background-color: #282323;
}

.relative>button {
  background-color: rgb(248, 245, 245);
  color: #180606;
  border-color: rgb(243, 203, 203);
}

p {
  color: rgb(90, 87, 87);
}

.relative>button:hover {
  background-color: rgb(170, 170, 240);
  color: #382a2a;
  transition: 300ms;
}

.left>span {
  color: #93ACF8;
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  font-size: 24px;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work>.left>span {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

main>h2::before {
  content: url(images/corporate_fare.png);
  padding-right: 20px;
}

main>h2 {
  margin-top: 120px;
}

body>div>main>span:nth-child(5) {
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
}

.lang>h2 {
  margin-top: 120px;
}

.lang>h2::before {
  content: url(images/question_answer.png);
  padding-right: 20px;
}

.lang>.left>span {
  display: flex;
  color: #93ACF8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lang>.left>h4 {
  padding-top: 10px;
}

.top-part>h2 {
  margin-top: 120px;
}

.top-part>h2::before {
  content: url(images/draw.png);
  padding-right: 20px;
}

.top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-top: 120px;
  border: 0.5px solid white;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  color: #93ACF8;
  background-color: black;
  transition: 300ms;
}

button:hover {
  cursor: pointer;
  border-color: #93ACF8;
  color: white;
  background-color: gray;
  transition: 300ms;
}

.port>hr {
  margin-bottom: 50px;
}