body:has(input:checked) {
  background-image: url(images/Stars.png), url(images/Flares.png), url(images/Gradient.png), linear-gradient(#343941, #000103);

  .wrapper-ofc {
    color: white;
  }

  header {
    color: white;
  }

  a {
    color: white;
  }

  #copyText {
    background-color: #2d2d2d;
    color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 200ms;
  }

  #copyText:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: 200ms;
  }

  .relative>button {
    background-color: rgb(248, 245, 245);
    color: #180606;
    border-color: rgb(243, 203, 203);
  }

  p {
    color: rgb(90, 87, 87);
  }

  .relative>button:hover {
    background-color: rgb(170, 170, 240);
    color: #382a2a;
    transition: 300ms;
  }

  .top-part>button {
    border-color: white;
    background-color: rgb(182, 181, 181);
  }

  .top-part>button:hover {
    color: white;
    background-color: gray;
  }
}