body {
  background-image: url(images/Stars.png), url(images/Flares.png), url(images/Gr\ light.png), linear-gradient(#f1e2be, #ffffff);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.wrapper-ofc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  max-width: 1024px;
  display: flex;
  min-height: 250px;
  align-items: center;
  gap: 100px;
  color: black;
}

@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  h4 {
    font-size: 22px;
  }
}



h1 {
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
}

header>img {
  border-radius: 50%;
}

.contacts {
  max-width: 450px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.couple {
  width: 130px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.summary {
  padding-top: 100px;
  max-width: 1024px;
  line-height: 32px;
  font-size: 24px;
}

.edu>h2::before {
  content: url(images/school.png);
  padding-right: 20px;
}

.edu {
  max-width: 1024px;
}

.edu>span {
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 600px;
}

section {
  display: flex;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
}

.left>span {
  color: #93ACF8;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  font-size: 24px;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work>.left>span {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

main>h2::before {
  content: url(images/corporate_fare.png);
  padding-right: 20px;
}

main>h2 {
  margin-top: 120px;
}

body>div>main>span:nth-child(5) {
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
}

.lang>h2 {
  margin-top: 120px;
}

.lang>h2::before {
  content: url(images/question_answer.png);
  padding-right: 20px;
}

.lang>.left>span {
  display: flex;
  color: #93ACF8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lang>.left>h4 {
  padding-top: 10px;
}

.top-part>h2 {
  margin-top: 120px;
}

.top-part>h2::before {
  content: url(images/draw.png);
  padding-right: 20px;
}

.top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-top: 110px;
  border: 0.5px solid gray;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  color: #93ACF8;
  background-color: white;
  transition: 300ms;
}

button:hover {
  cursor: pointer;
  border-color: #93ACF8;
  color: rgb(122, 19, 167);
  background-color: gray;
  transition: 300ms;
}

.port>hr {
  margin-bottom: 50px;
}