body {
  background-image: url(images/Stars.png), url(images/Flares.png), url(images/Gr\ light.png), linear-gradient(#f1e2be, #ffffff);
}

.wrapper-ofc {
  color: rgb(48, 47, 47);
}

header {
  color: rgb(48, 47, 47);
}

hr {
  border: 1px solid grey;
}

a {
  color: rgb(48, 47, 47);
}

#copyText {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #cbc1c7;
  transition: 200ms;
}

.relative>button:hover {
  background-color: gray;
  color: #ffffff;
  border-color: gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p {
  color: gray;
}

.relative>p {
  color: rgb(47, 198, 17);
}

.relative>button {
  background-color: #cbc1c7;
  color: #000000;
  transition: 300ms;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.relative>button:active {
  background-color: #d1cda3;
  color: rgb(48, 47, 47);
  transition: 300ms;
}

.top-part>button {
  border-color: gray;
  background-color: white;
}

.top-part>button {
  color: rgb(122, 19, 167);
  background-color: gray;
}

.left>span, .lang>.left>span {
  color: #91339d;
}