body {
  background-image: url(images/Stars.png), url(images/Flares.png), url(images/Gr\ light.png), linear-gradient(#f1e2be, #ffffff);
}

.wrapper-ofc {
  color: black;
}

header {
  color: black;
}

a {
  color: black;
}

#copyText {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #cbc1c7;
}

.relative>button {
  background-color: gray;
  color: #ffffff;
  border-color: gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p {
  color: gray;
}

.relative>button:hover {
  background-color: rgb(62, 62, 200);
  color: #ffffff;
  transition: 300ms;
}

.left>span {
  color: #93ACF8;
}

.top-part>button {
  border-color: gray;
  background-color: white;
}

button:hover {
  color: rgb(122, 19, 167);
  background-color: gray;
}